<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/AdminProductEditPropertyValue.css">
</head>
<body>
<span class="black"></span>
<header>
    <img src="img/tmallbuy.png" alt="" class="tmallbuy">
    <ul class="a2">
        <li><a href="AdminCategoryList.html">天猫后台</a></li>
        <li><a href="AdminCategoryList.html">分类管理</a></li>
        <li><a href="AdminUserList.html">用户管理</a></li>
        <li><a href="AdminOrderList.html">订单管理</a></li>
    </ul>
</header>
<section>
    <ol class="breadcrumb">
    <li><a href="AdminCategoryList.html">所有分类</a></li>
    <li><a href="AdminProductList.html" id="things_name">平板电视</a></li>
    <li id="detail_name">夏普屏PANDA/熊猫 LE39D71S 39英寸智能WiFi液晶平板电视40 42 43</li>
    <li class="active">编辑产品属性</li>
    </ol>
    <table id="Table"></table>
    <script src="javascript/AdminProductEditPropertyValue.js"></script>
</section>
</body>
</html>