<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/login.css">
    <script src = javascript/jquery.min.js> </script>
    <script src="javascript/login.js"></script>
</head>

<body>
<!--头部的天猫logo-->
    <header>
        <a href="https://how2j.cn/tmall/">
            <img src="img/simpleLogo.png" id="tm_logo">
        </a>
    </header>

<!--中间的登录界面以及图片-->
    <section>
        <img src="img/6702.png" class="login1">
        <form action="" class="login_form" method="post" name="info" onsubmit="return check()">
            <span id="login0">
                账户登录
            </span>
            <div id="login1">
                <img src="img/用户图案.png" class="login2">
                <input type="text" name="username" placeholder="手机/会员名/邮箱" id="login2">
                <span id="us"></span>
                <img src="img/密码锁图案.png" class="login3">
                <input type="password" name="password" placeholder="密码" id="login3">
                <span id="ps"></span>
            </div>
            <div id="login4">不要输入真实的天猫账号密码</div>
            <div id="login5">
                <a href="#" id="login6" title="该功能暂未开发">忘记登录密码</a>
                <a href="register.html">免费注册</a>
            </div>
            <input type="submit" value="登录" id="login7">
        </form>
    </section>

    <!-- 底部信息栏白色那部分 -->
<div th:replace="footer1.html::footer1"></div>
<div th:replace="footer2.html::footer2"></div>

</body>
</html>