<!DOCTYPE html>
<html lang="en">
<head>
    <title>我的订单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="javascript/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/MyOrder.css" rel="stylesheet">
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/MyOrder.js"></script>
</head>

<div th:replace="nav.html::nav"></div>
<div id="searchtop">
    <div th:replace="searchtop.html::searchtop"></div>
</div>
<div class="boughtDiv">
    <div class="orderType">
        <div class="selectedOrderType"><a href="#nowhere" orderstatus="all">所有订单</a></div>
        <div class=""><a href="#nowhere" orderstatus="waitPay">待付款</a></div>
        <div class=""><a href="#nowhere" orderstatus="waitDelivery">待发货</a></div>
        <div class=""><a href="#nowhere" orderstatus="waitConfirm">待收货</a></div>
        <div class=""><a class="noRightborder" href="#nowhere" orderstatus="waitReview">待评价</a></div>
        <div class="orderTypeLastOne"><a class="noRightborder"> </a></div>
    </div>
    <div style="clear:both"></div>
    <div class="orderListTitle">
        <table class="orderListTitleTable">
            <tbody><tr>
                <td>宝贝</td>
                <td width="100px">单价</td>
                <td width="100px">数量</td>
                <td width="120px">实付款</td>
                <td width="100px">交易操作</td>
            </tr>
            </tbody></table>
    </div>
    <div class="orderListItem">
        <table oid="946" orderstatus="waitReview" class="orderListItemTable" style="display: table;">
            <tbody><tr class="orderListItemFirstTR">
                <td colspan="2">
                    <b>2016-11-22 14:31:03 </b>
                    <span>订单号: 201611221431032827483
					</span>
                </td>
                <td colspan="2"><img width="13px" src="img/orderItemTmall.png">天猫商场</td>
                <td colspan="1">
                    <a href="#nowhere" class="wangwanglink">
                        <div class="orderItemWangWangGif"></div>
                    </a>
                </td>
                <td class="orderItemDeleteTD">
                    <a href="#nowhere" oid="946" class="deleteOrderLink">
                        <span class="orderListItemDelete glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr class="orderItemProductInfoPartTR">
                <td class="orderItemProductInfoPartTD"><img width="80" height="80" src="img/1917.jpg"></td>
                <td class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductLinkOutDiv">
                        <a href="#nowhere">依然美佳欧式布艺沙发组合可拆洗新款实木雕花大户型奢华别墅家具</a>
                        <div class="orderListItemProductLinkInnerDiv">
                            <img title="支持信用卡支付" src="img/creditcard.png">
                            <img title="消费者保障服务,承诺7天退货" src="img/7day.png">
                            <img title="消费者保障服务,承诺如实描述" src="img/promise.png">
                        </div>
                    </div>
                </td>
                <td width="100px" class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductOriginalPrice">￥10,012.00</div>
                    <div class="orderListItemProductPrice">￥7,008.40</div>
                </td>
                <td width="100px" valign="top" class="orderListItemNumberTD orderItemOrderInfoPartTD" rowspan="1">
                    <span class="orderListItemNumber">1</span>
                </td>
                <td width="120px" valign="top" class="orderListItemProductRealPriceTD orderItemOrderInfoPartTD" rowspan="1">
                    <div class="orderListItemProductRealPrice">￥7,008.40</div>
                    <div class="orderListItemPriceWithTransport">(含运费：￥0.00)</div>
                </td>
                <td width="100px" valign="top" class="orderListItemButtonTD orderItemOrderInfoPartTD" rowspan="1">
                    <a href="#nowhere">
                        <button class="orderListItemReview">评价</button>
                    </a>
                </td>
            </tr>
            </tbody></table>
        <table oid="945" orderstatus="waitDelivery" class="orderListItemTable" style="display: table;">
            <tbody><tr class="orderListItemFirstTR">
                <td colspan="2">
                    <b>2016-11-22 11:21:21 </b>
                    <span>订单号: 201611221121216887677
					</span>
                </td>
                <td colspan="2"><img width="13px" src="orderItemTmall.png">天猫商场</td>
                <td colspan="1">
                    <a href="#nowhere" class="wangwanglink">
                        <div class="orderItemWangWangGif"></div>
                    </a>
                </td>
                <td class="orderItemDeleteTD">
                    <a href="#nowhere" oid="945" class="deleteOrderLink">
                        <span class="orderListItemDelete glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr class="orderItemProductInfoPartTR">
                <td class="orderItemProductInfoPartTD"><img width="80" height="80" src="img/7674.jpg"></td>
                <td class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductLinkOutDiv">
                        <a href="#nowhere">Controller mates韩版修身男士西服套装发型师休闲小西装结婚礼服潮</a>
                        <div class="orderListItemProductLinkInnerDiv">
                            <img title="支持信用卡支付" src="img/creditcard.png">
                            <img title="消费者保障服务,承诺7天退货" src="img/7day.png">
                            <img title="消费者保障服务,承诺如实描述" src="img/promise.png">
                        </div>
                    </div>
                </td>
                <td width="100px" class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductOriginalPrice">￥699.00</div>
                    <div class="orderListItemProductPrice">￥419.40</div>
                </td>
                <td width="100px" valign="top" class="orderListItemNumberTD orderItemOrderInfoPartTD" rowspan="1">
                    <span class="orderListItemNumber">1</span>
                </td>
                <td width="120px" valign="top" class="orderListItemProductRealPriceTD orderItemOrderInfoPartTD" rowspan="1">
                    <div class="orderListItemProductRealPrice">￥419.40</div>
                    <div class="orderListItemPriceWithTransport">(含运费：￥0.00)</div>
                </td>
                <td width="100px" valign="top" class="orderListItemButtonTD orderItemOrderInfoPartTD" rowspan="1">
                    <span>待发货</span>
                    <a href="#nowhere">
                        <button class="orderListItemConfirm">提醒发货</button>
                    </a>
                </td>
            </tr>
            </tbody></table>
        <table oid="944" orderstatus="waitDelivery" class="orderListItemTable" style="display: table;">
            <tbody><tr class="orderListItemFirstTR">
                <td colspan="2">
                    <b>2016-11-22 11:21:16 </b>
                    <span>订单号: 201611221121168848610
					</span>
                </td>
                <td colspan="2"><img width="13px" src="img/orderItemTmall.png">天猫商场</td>
                <td colspan="1">
                    <a href="#nowhere" class="wangwanglink">
                        <div class="orderItemWangWangGif"></div>
                    </a>
                </td>
                <td class="orderItemDeleteTD">
                    <a href="#nowhere" oid="944" class="deleteOrderLink">
                        <span class="orderListItemDelete glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr class="orderItemProductInfoPartTR">
                <td class="orderItemProductInfoPartTD"><img width="80" height="80" src="img/7014.jpg"></td>
                <td class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductLinkOutDiv">
                        <a href="#nowhere">劳迪莱斯男士手包休闲手拿包牛皮大容量钱包男包软面小包包手抓包</a>
                        <div class="orderListItemProductLinkInnerDiv">
                            <img title="支持信用卡支付" src="img/creditcard.png">
                            <img title="消费者保障服务,承诺7天退货" src="img/7day.png">
                            <img title="消费者保障服务,承诺如实描述" src="img/promise.png">
                        </div>
                    </div>
                </td>
                <td width="100px" class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductOriginalPrice">￥185.00</div>
                    <div class="orderListItemProductPrice">￥157.25</div>
                </td>
                <td width="100px" valign="top" class="orderListItemNumberTD orderItemOrderInfoPartTD" rowspan="1">
                    <span class="orderListItemNumber">1</span>
                </td>
                <td width="120px" valign="top" class="orderListItemProductRealPriceTD orderItemOrderInfoPartTD" rowspan="1">
                    <div class="orderListItemProductRealPrice">￥157.25</div>
                    <div class="orderListItemPriceWithTransport">(含运费：￥0.00)</div>
                </td>
                <td width="100px" valign="top" class="orderListItemButtonTD orderItemOrderInfoPartTD" rowspan="1">
                    <span>待发货</span>
                    <a href="#nowhere">
                        <button class="orderListItemConfirm">提醒发货</button>
                    </a>
                </td>
            </tr>
            </tbody></table>
        <table oid="943" orderstatus="waitReview" class="orderListItemTable" style="display: table;">
            <tbody><tr class="orderListItemFirstTR">
                <td colspan="2">
                    <b>2016-11-22 11:21:11 </b>
                    <span>订单号: 20161122112111696734
					</span>
                </td>
                <td colspan="2"><img width="13px" src="img/orderItemTmall.png">天猫商场</td>
                <td colspan="1">
                    <a href="#nowhere" class="wangwanglink">
                        <div class="orderItemWangWangGif"></div>
                    </a>
                </td>
                <td class="orderItemDeleteTD">
                    <a href="#nowhere" oid="943" class="deleteOrderLink">
                        <span class="orderListItemDelete glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr class="orderItemProductInfoPartTR">
                <td class="orderItemProductInfoPartTD"><img width="80" height="80" src="img/8917.jpg"></td>
                <td class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductLinkOutDiv">
                        <a href="#nowhere">女巫2016欧洲站夏季新品欧美时尚绣花衬衣上衣九分裤两件套装高端</a>
                        <div class="orderListItemProductLinkInnerDiv">
                            <img title="支持信用卡支付" src="img/creditcard.png">
                            <img title="消费者保障服务,承诺7天退货" src="img/7day.png">
                            <img title="消费者保障服务,承诺如实描述" src="img/promise.png">
                        </div>
                    </div>
                </td>
                <td width="100px" class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductOriginalPrice">￥928.00</div>
                    <div class="orderListItemProductPrice">￥835.20</div>
                </td>
                <td width="100px" valign="top" class="orderListItemNumberTD orderItemOrderInfoPartTD" rowspan="1">
                    <span class="orderListItemNumber">1</span>
                </td>
                <td width="120px" valign="top" class="orderListItemProductRealPriceTD orderItemOrderInfoPartTD" rowspan="1">
                    <div class="orderListItemProductRealPrice">￥835.20</div>
                    <div class="orderListItemPriceWithTransport">(含运费：￥0.00)</div>
                </td>
                <td width="100px" valign="top" class="orderListItemButtonTD orderItemOrderInfoPartTD" rowspan="1">
                    <a href="#nowhere">
                        <button class="orderListItemReview">评价</button>
                    </a>
                </td>
            </tr>
            </tbody></table>
        <table oid="942" orderstatus="waitReview" class="orderListItemTable" style="display: table;">
            <tbody><tr class="orderListItemFirstTR">
                <td colspan="2">
                    <b>2016-11-22 11:21:05  </b>
                    <span>订单号: 201611221121051612916
					</span>
                </td>
                <td colspan="2"><img width="13px" src="img/orderItemTmall.png">天猫商场</td>
                <td colspan="1">
                    <a href="#nowhere" class="wangwanglink">
                        <div class="orderItemWangWangGif"></div>
                    </a>
                </td>
                <td class="orderItemDeleteTD">
                    <a href="#nowhere" oid="942" class="deleteOrderLink">
                        <span class="orderListItemDelete glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr class="orderItemProductInfoPartTR">
                <td class="orderItemProductInfoPartTD"><img width="80" height="80" src="img/10170.jpg"></td>
                <td class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductLinkOutDiv">
                        <a href="#nowhere">REEBABY儿童安全座椅9个月-12岁宝宝婴儿汽车用坐椅车载 3C认证</a>
                        <div class="orderListItemProductLinkInnerDiv">
                            <img title="支持信用卡支付" src="img/creditcard.png">
                            <img title="消费者保障服务,承诺7天退货" src="img/7day.png">
                            <img title="消费者保障服务,承诺如实描述" src="img/promise.png">
                        </div>
                    </div>
                </td>
                <td width="100px" class="orderItemProductInfoPartTD">
                    <div class="orderListItemProductOriginalPrice">￥1280.00</div>
                    <div class="orderListItemProductPrice">￥1216.00</div>
                </td>
                <td width="100px" valign="top" class="orderListItemNumberTD orderItemOrderInfoPartTD" rowspan="1">
                    <span class="orderListItemNumber">1</span>
                </td>
                <td width="120px" valign="top" class="orderListItemProductRealPriceTD orderItemOrderInfoPartTD" rowspan="1">
                    <div class="orderListItemProductRealPrice">￥1216.00</div>
                    <div class="orderListItemPriceWithTransport">(含运费：￥0.00)</div>
                </td>
                <td width="100px" valign="top" class="orderListItemButtonTD orderItemOrderInfoPartTD" rowspan="1">
                    <a href="#nowhere">
                        <button class="orderListItemReview">评价</button>
                    </a>
                </td>
            </tr>
            </tbody></table>

    </div>
</div>
<div th:replace="footer1.html::footer1"></div>
<div th:replace="footer2.html::footer2"></div>
</html>